/* 
📁FUENTES PERSONALIZADAS📁
https://fonts.google.com/

📁COLORES📁
https://www.htmlcsscolor.com/
https://www.google.com/search?q=color+picker

📁FONDOS📁
https://www.magicpattern.design/tools/css-backgrounds
https://heropatterns.com/ 

📁GRADIENTE📁
https://uigradients.com/#CosmicFusion
https://cssgradient.io/

📁SOMBRAS📁
https://getcssscan.com/css-box-shadow-examples

📁TRANSITION📁
https://easings.net/

📁VIDEOS Y FOTOS PARA PROYECTOS📁
https://www.pexels.com/

















*/

